/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 3, ../scss/father.scss */
.clearfix {
  zoom: 1;
}
/* line 5, ../scss/father.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/father.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 16, ../scss/father.scss */
.desktop-nav {
  background-color: #89bdd3;
  padding-top: 20px;
}
/* line 19, ../scss/father.scss */
.desktop-nav img {
  width: 50%;
  max-width: 100px;
  float: left;
}
/* line 24, ../scss/father.scss */
.desktop-nav ul {
  float: right;
}

/* line 29, ../scss/father.scss */
.main-pic {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  background: url(../img/mainpic2.jpg) no-repeat 0 0;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  padding-top: 5%;
  padding-bottom: 30%;
  opacity: 2.5;
  margin-top: -15px;
  image-attachment: fixed;
}
/* line 42, ../scss/father.scss */
.main-pic h1 {
  display: none;
}
/* line 45, ../scss/father.scss */
.main-pic p {
  color: white;
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 10px #000;
}
/* line 51, ../scss/father.scss */
.main-pic button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  background: #9ad3de;
  padding: 8px 20px;
  box-shadow: 0px 0px 25px #000;
}

/* line 65, ../scss/father.scss */
.left {
  background: url(../img/mainpic2.jpg) no-repeat 0 0;
  padding-bottom: 20%;
}

@media screen and (min-width: 600px) {
  /* line 75, ../scss/father.scss */
  .top p {
    background-color: blue;
  }

  /* line 80, ../scss/father.scss */
  .extra {
    display: none;
  }

  /* line 84, ../scss/father.scss */
  .top-left:hover > .extra {
    display: block;
    background-color: blue;
    z-index: 100;
    opacity: 0.5;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  /* line 100, ../scss/father.scss */
  .top-right {
    width: 50%;
    float: right;
    background: url(../img/mainpic2.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 25%;
  }

  /* line 108, ../scss/father.scss */
  .top-left {
    float: left;
    width: 50%;
    background: url(../img/mainpic2.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 25%;
  }

  /* line 116, ../scss/father.scss */
  .third-section {
    background-color: white;
    padding-bottom: 20px;
  }
  /* line 119, ../scss/father.scss */
  .third-section img {
    float: left;
    width: 45%;
  }
  /* line 123, ../scss/father.scss */
  .third-section p {
    float: right;
    width: 45%;
    font-size: 1.7em;
  }

  /*end of 600 */
}
@media screen and (min-width: 800px) {
  /* line 132, ../scss/father.scss */
  .head-wrap {
    width: 70%;
    margin: 0 auto;
  }

  /* line 136, ../scss/father.scss */
  body {
    background-color: #c9c9c9;
  }

  /* line 141, ../scss/father.scss */
  .text-box {
    width: 42%;
    float: right;
    margin-top: 50px;
  }

  /* line 146, ../scss/father.scss */
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }

  /* line 151, ../scss/father.scss */
  .left {
    background: url(../img/mainpic2.jpg) no-repeat 0 0;
    padding-bottom: 50%;
  }

  /* line 156, ../scss/father.scss */
  .main-pic {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background: url(../img/mainpic2.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-top: 5%;
    padding-bottom: 10%;
    opacity: 2.5;
    margin-top: -0px;
  }
  /* line 168, ../scss/father.scss */
  .main-pic h1 {
    text-align: center;
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800px;
    font-size: 3.0em;
    text-shadow: 0px 0px 10px #000;
    -webkit-font-smoothing: antialiased;
  }

  /* line 179, ../scss/father.scss */
  .desktop-nav {
    top: 0px;
    padding-top: 20px;
  }
  /* line 182, ../scss/father.scss */
  .desktop-nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
  }
  /* line 188, ../scss/father.scss */
  .desktop-nav a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
  }
}
/*end of 800 */
/*end of 1000 */
/*end of 1000 */
